* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul a {
    text-decoration: none;
}

header ul {
    list-style: none;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
}

.header img {
    padding: 20px;
}

.nav {
    width: 100%;
    /* height: 100%; */
    position: fixed;
    overflow: hidden;
    background-color: white;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

.menu a:hover {
    color: fuchsia;
}

.menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    /* width: 100%; */
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.first,
.fifth {
    padding: 90px 20px 20px 20px;
    display: flex;
}

.first img,
.fifth img {
    /* ka cia daryti??? */
    max-width: 100%;
    /* object-fit: cover; */
}

.first .left-side h3,
.fifth .left-side h3 {
    font-size: 10px;
    color: fuchsia;
}

.first .left-side .btn,
.fifth .left-side .btn {
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to right, fuchsia, red, yellow, green) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
    padding: 10px 20px;
    margin-top: 20px;
}

.second {
    background-image: url(img/background.svg);
    background-size: cover;
}

.second h2,
.fourth h2 {
    font-weight: 300;
    padding-top: 50px;
    padding-left: 20px;
}

.second p,
.fourth p {
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 20px;
}

.third {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.third img {
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 0 10px 10px 10px; */
}

.third .delete {
    display: none;
}

.fourth span {
    text-decoration: underline;
}

.grey-container {
    display: flex;
    background-color: lightgray;
    margin-top: -11px;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.gloop,
.name {
    padding-bottom: 10px;
}

.price {
    padding-bottom: 10px;
    padding-top: 5px;
}

.price img {
    padding-right: 5px;
}

.gloop {
    color: red;
}

.price,
.name {
    font-size: 20px;
    font-weight: 500;
}

.grey-container .left-side {
    text-align: left;
}

.grey-container .right-side {
    text-align: right;
}

.nft {
    display: flex;
}

.nft1,
.nft2,
.nft3,
.nft4 {
    margin: 20px;
}

@media screen and (min-width:768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
        display: flex;
        flex-direction: row;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
    }

    .hamb{
        display: none;
    }

    .header li:last-child a {
        color: red;
    }

    .second {
        background-size: cover;
        margin: 20px;
    }

    .third {
        display: flex;
        justify-content: space-between;
    }

    .third img {
        margin: 20px;
    }

    .third .delete {
        display: inline;
    }

    .nft {
        justify-content: space-between;
    }

    /* .nft1,
    .nft2,
    .nft3,
    .nft4 {
        width: 25%;
    } */
}


